body{
  .imgBox{
    width: 150px;
    height: 150px;
    transform: translate(100px,100px);
    display: flex;
    box-sizing:border-box;
  }
  .imgBox2{
    width: 150px;
    height: 150px;
    transform: translate(100px,100px);
    display: flex;
    box-sizing:border-box;
  }
}
